
body{
    display: flex;
}
.box{
    box-sizing: border-box;
    height: 200px;
    width: 400px;
    margin: 10px 5px;
    border-radius: 7px;
    background-image: linear-gradient(180deg,rgb(106, 106, 187,0.5),rgb(106,103,173,0.8),rgb(101,103,186,0.7));
}
li{
    list-style: none;
}
.red{
    color: red;
}
.white{
    color: white;
}
.box:hover{
    transform: translateX(30px);
    transition: 0.5s;
}
.blue{
    color: blue;
    letter-spacing: 2px;

}
.gray{
    color: gray;
    text-transform: capitalize;
}